################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Trippin/bin
/Trippin/obj/Debug
/Trippin/.vs/config
